body {
    margin: 0;
    height: 100%;
    font-family: 'Figtree', sans-serif !important;
    background-color: #13142d !important;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

.navbar-covid {
    background-color: transparent !important;
}

.section {
    width: 100%;
}

.first-section {
    margin-top: 60px;
}

.dark-section {
    background-color: #13142d;
    color: #fff;
}

.light-section {
    background-color: #fff;
    color: #111;
}

.grey-section {
    background-color: #fafafa;
    color: #111;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 150ms linear;
    -webkit-box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
}

#flights-map {
    height: 600px;
}

.covid-menu li {
    display: inline !important;
    margin-right: 7px;
}

.covid-menu li a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.scrolled .covid-menu li a {
    color: #111;
}

.summary-numbers {
    font-weight: 700;
    color: #fff;
}

.numbers-large {
    font-size: 70px;
}

.numbers-medium {
    font-size: 60px;
}

.numbers-highlight, .numbers-highlight-beginning {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.highlight-icon {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.employment-text {
    font-weight: 700 !important;
    color: #111 !important;
}

body {
    max-width: 2000px;
}

.parameter-value text {
    fill: #aaa;
}

.slider text {
    font-size: 12px;
    color: #aaa;
}

.slider {
    cursor: pointer;
}

.parameter-value path {
    fill: #0f8243;
}

#play-button {
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

#play-button:hover {
    background-color: #696969;
}

#value-time {
    color: #aaa;
}

#chart-div {
    width: 300px;
    height: 300px;
    display: none;
}

#div-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    display: flex;
    align-items: center;
}

.my-label {
    position: absolute;
    width:1000px;
    font-size:20px;
}