body {
    margin: 0;
    height: 100%;
    font-family: 'Figtree', sans-serif !important;
    background-color: #13142d !important;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

.section {
    width: 100%;
}

.first-section {
    margin-top: 60px;
    margin-bottom: 30px;
}

.dark-section {
    background-color: #13142d;
    color: #fff;
}

.light-section {
    background-color: #fff;
    color: #111;
}

.grey-section {
    background-color: #fafafa;
    color: #111;
}

.navbar-covid {
    background-color: #13142d !important;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 150ms linear;
    -webkit-box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
}

.toggle-icon {
    color: #fff;
}

.scrolled .toggle-icon {
    color: #111;
}

#flights-map {
    height: 70vh;
    max-height: 600px;
}

.covid-menu a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.covid-menu a:hover, .scrolled .covid-menu a:hover {
    color: #e54765;
}

.scrolled .covid-menu a {
    color: #111;
}

.navbar-toggler {
    border-color: #fff !important;
}

.scrolled .navbar-toggler {
    border-color: #111 !important;
}

.numbers-large {
    font-size: 70px;
}

.numbers-medium {
    font-size: 60px;
}

.gradient-highlight {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.highlight-icon {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.employment-text {
    font-weight: 700 !important;
    color: #111 !important;
}

.parameter-value text {
    fill: #aaa;
    font-family:  'Inter', sans-serif;
}

.slider text {
    font-size: 12px;
    color: #aaa;
}

/* Change the track line color to red */
.slider .track-inset{
    stroke: #f5be47;
}

.slider .track{
    stroke: #bbb;
}

.slider .track-fill{
    stroke: #f03030;
}

/* Change the track line height */
.slider .track-overlay {
    height: 5px;
}

.tick {
    font-family:  'Inter', sans-serif;
}

.slider {
    cursor: pointer;
}

#play-button {
    background: #f03030;
    padding-right: 23px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 10px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}

#play-button:hover {
    background-color: #696969;
}

#value-time {
    color: #aaa;
    font-family:  'Inter', sans-serif;
}

#info {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    color: #696969;
    font-style: italic;
}
.chart-div {
    display: none;
}

#div-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    display: flex;
    align-items: center;
}

.my-label {
    position: absolute;
    width:1000px;
    font-size:20px;
}

/* Timeline */

.circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #e54765;
    color: transparent;
    max-height: 50px;
    z-index: 2;
    transition: all .2s ease-in-out;
}

.circle:hover {
    transform: scale(1.1);
}
  
  .how-it-works.row {
    display: flex;
  }
  .how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #e54765;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full-right::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.full-left::after {
    height: 100%;
    left: 50%;
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: calc(50% - 3px);
    top: 0;
  }
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #e54765;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #e54765;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }

  .historytimeline h5 {
    color: #e54765;
    font-weight: 600;
  }

  .timeline-img {
    transition: all .2s ease-in-out;
    filter: grayscale(70%);
    object-fit: cover;
    width: 100%;
    max-height: 170px;
  }

  .timeline-img:hover {
    filter: none;
    transform: scale(1.02);
  }


/* Infographics */

.infographic i {
    transition: all .15s ease-in-out;
}

.infographic i:hover {
    transform: scale(1.1);
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    box-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px !important;
    font-family: 'Figtree', sans-serif !important;
}

#chart {
    background-color: #fbf8f4;
}