body {
    margin: 0;
    height: 100%;
    font-family: 'Figtree', sans-serif !important;
    background-color: #13142d !important;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

.section {
    width: 100%;
}

.first-section {
    margin-top: 60px;
    margin-bottom: 30px;
}

.dark-section {
    background-color: #13142d;
    color: #fff;
}

.light-section {
    background-color: #fff;
    color: #111;
}

.grey-section {
    background-color: #fafafa;
    color: #111;
}

.navbar-covid {
    background-color: #13142d !important;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 150ms linear;
    -webkit-box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.5);
}

.toggle-icon {
    color: #fff;
}

.scrolled .toggle-icon {
    color: #111;
}

#flights-map {
    height: 600px;
}

.covid-menu a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.covid-menu a:hover, .scrolled .covid-menu a:hover {
    color: #e54765;
}

.scrolled .covid-menu a {
    color: #111;
}

.navbar-toggler {
    border-color: #fff !important;
}

.scrolled .navbar-toggler {
    border-color: #111 !important;
}

.summary-numbers {
    font-weight: 700;
    color: #fff;
}

.numbers-large {
    font-size: 70px;
}

.numbers-medium {
    font-size: 60px;
}

.numbers-highlight, .numbers-highlight-beginning {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.highlight-icon {
    background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.employment-text {
    font-weight: 700 !important;
    color: #111 !important;
}

body {
    max-width: 2000px;
}

.parameter-value text {
    fill: #aaa;
    font-family: 'Comic Neue', cursive;
}

.slider text {
    font-size: 12px;
    color: #aaa;
}

/* Change the track line color to red */
.slider .track-inset{
    stroke: #f5be47;
}

.slider .track{
    stroke: #bbb;
}

.slider .track-fill{
    stroke: #f03030;
}

/* Change the track line height */
.slider .track-overlay {
    height: 5px;
}

.tick {
    font-family: 'Comic Neue', cursive;
}

.slider {
    cursor: pointer;
}

#play-button {
    background: #f03030;
    padding-right: 23px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 10px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}

#play-button:hover {
    background-color: #696969;
}

#value-time {
    color: #aaa;
    font-family: 'Comic Neue', cursive;
}

#info {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    color: #696969;
    font-style: italic;
}
.chart-div {
    display: none;
}

#div-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    display: flex;
    align-items: center;
}

.my-label {
    position: absolute;
    width:1000px;
    font-size:20px;
}